footer {
    color: $white-1;
    background-color: $primary-1;
    
    .row {
        padding: $p-6 $p-0 $p-0;
    }
    a {
        color: $white-1;
        transition: all $s-2;
        &:hover {
            color: $white-1!important;
            opacity: $oppa-1;
            text-decoration: none;
        }
    }
    font-size: $f-11;
    padding-bottom: $p-7;
    font-weight: $fw-3;
    h3 {
        font-size: $fs-7;
        font-weight: $fw-2;
        margin-bottom: $m-4;
    }
    li {
        &.bd {
            padding: $p-8 $p-0 $p-9;
            border-bottom: $b-1 solid $rgba-1;
        }

        &.contact {
            padding-top: $p-8;
            i {
                width: $w-4;
            }
        }

        button {
            @include button( $white-1,  $white-1, $primary-1, $white-1);
        }
        input {
            padding: $p-3;
            border-radius: $br-1;
            width: $w-0;
            margin-bottom: $m-1;
            outline: none;
            border: $b-1 solid $rgba-2;
            background-color: $primary-1;
            text-align: center;
            color: $white-1;
            transition: all $s-3;
            &:focus{
                border: $b-1 solid $rgba-3;
            }
            &::placeholder {
                color: $white-1;
                text-align: center;
            }
        }
        .social {
            transition: all $s-3;
            font-size: $fs-9;
            &:hover {
                color: $black-1;
            }
        }
    }

}